.hero-image {
    background-image: url(https://github.com/ningyo-sitizen/project-_2/blob/master/images/coffee_shop.jpg?raw=true);
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: block;
    filter: brightness(0.5);
}

.contact-h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px;
}

.contact-h5 {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.contact-h2 {
    font-size: 3rem;
}

.contact-h5 {
    font-size: 2rem;
}

.form-container {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container-form button {
    margin-left: 170px;
}

.form-input {
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-text {
    padding-left: 20px;
}

.form-group input,
.form-input textarea {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
}



.send-button {
    width: 70%;
    padding: 12px;
    background-color: white !important;
    color: black !important;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 160px;
    border: #ccc 1px solid !important;
    transition: color 0.5s ease !important;
}

.send-button:hover {
    background-color: #ffcc00 !important;
    color: white;
}

@media (max-width: 768px) {
    .hero-image {
        height: 50vh;
    }

    .nav-logo {
        padding-top: 40px;
        flex-grow: 1;
        text-align: center;
        font-weight: bold;
        font-family: "Dancing Script", cursive;
        font-size: 2rem;
    }
    

    .contact-h2 {
        font-size: 24px;
    }

    .contact-h5 {
        font-size: 14px;
    }

    .container-form {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .shrink-nav {
        padding-top: 0px;
    }

    .send-button {
        margin-left: 0;
        width: 100%;
        font-size: 16px;
    }

    .form-input input,
    .form-input textarea {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .hero-image {
        height: 40vh;
    }

    .contact-h2 {
        font-size: 22px;
    }

    .contact-h5 {
        font-size: 13px;
    }

    .form-input input,
    .form-input textarea {
        font-size: 14px;
        padding: 10px;
    }

    .send-button {
        font-size: 16px;
        padding: 10px;
    }
}
